<!-- Right Pane -->

<!-- You can remove or replace any section if required, copying _includes/rightpane.html on your page -->

<div id="right-container">

<!-- Banner Image or title-->
<!-- This image is displayed at the top of the right pane. -->
<a href="{{ '/' | relative_url }}"><img class="rp-banner" src="{{ '/assets/img/common/banner.webp' | relative_url }}" width="90%" /></a>

	<!-- Search Form -->
	<!-- A simple GET form that allows users to perform a search query. -->
	<!-- The search input is sent to the '/search' route. -->
		{% include searchbar.html %}
	
	<div class="rp-ytvideo">
		<iframe width="90%" height="210"
			src="https://www.youtube-nocookie.com/embed/videoseries?list=UULFpXpA76utFJBs9LdUHuhl-Q"
			title="YouTube playlist"
			frameborder="0"
			allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture;"
			allowfullscreen>
		</iframe>
		<figcaption>Ultimo video en youtube</figcaption>
	</div>

	<!-- Entries Section -->
	<!-- Displays a list of recent blog posts. -->
	<div class="rightpaneposts">
	<h2>Entradas</h2>
		<ul>
			<!-- Loop through the latest 5 posts in the site. -->
			{% for post in site.posts limit:5 %} 
				<li>
					<!-- Each post is linked to its full page. -->
					<a class="rp-post-link" href="{{ post.url | relative_url }}">
						<!-- Post title is shown here with a small heading. -->
						<h6 class="rp-post-title">{{ post.title }}</h6>
					</a>
				</li>
			{% endfor %}
		</ul>
	</div>
</div>