blockquote {
	color: var(--accenthv);
	border-left: 4px solid var(--accenthv);
	background-color: var(--black);
	border-radius: 6px;
	padding: 0 1rem 0 1rem;
}

.tp-dropdown-elements {
	right: -20px;
}

.post-card {
	background-color: var(--black);
}

#right-container {
	width: 30%;
	padding: 0 0vw 0;
	margin-left: 0vw;
	position: sticky;
	top: 0;
	align-self: flex-start;
}

.rp-post-title {
	font-size: 1.0rem;
}

.utterances {
	margin-left: 1vw;
}

.post {
	margin-left: 1vw
}

.ytvideo {
	display: flex;
	margin: 0 auto;
	max-width: 95%
}

.rp-ytvideo figcaption {
	margin: 0px 0px 0px 5px;
	color: var(--grey1);
}

.post figcaption {
	display: flex;
	margin: 0 auto;
	justify-content: space-evenly;
	color: var(--grey1);
}

.post-image-wrapper {
	padding-top: 56.25%;
}

.post-postcontent img {
	border-radius: 16px;
}

@media only screen and (max-aspect-ratio: 1/1) {

	.userbox-content h3 {
		margin: 4px 5px 12px 0;
		font-weight: normal;
		color: #666;
		text-align: start;
	}

	.leftpane-portraitscreen {
		width: 95%;
	}

	.post {
		margin: 0 auto;
		width: 90vw;
		max-width: 90vw;
		box-sizing: border-box;
	}

	#right-container {
		width: 95%;
		padding: 0 0vw 0;
		margin: 0 auto;
		position: sticky;
		top: 0;
		align-self: flex-start;
	}

	.rp-banner {
		margin: 0 auto;
		display: flex;
	}

	.rp-ytvideo {
		display: flex;
		margin: 0 auto;
		flex-direction: column;
		align-items: center;
		max-width: 90%;
	}

	.rightpaneposts {
		width: 75%;
		display: flex;
		flex-direction: column;
		align-items: center;
		margin: 0 auto;
	}

	.userbox {
		margin: 0 auto;
	}

	.utterances {
		margin: 0 auto;
		width: 90%;
	}
}
